@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.page-header {
  padding: 10px 80%;
  z-index: 100;
  position: fixed;
  border-radius: 0px 0px 2px 2px;
  background-color: rgba(245, 245, 245, 0.95);
}


.container {
  font-family: "Heebo", sans-serif;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 900px;
}



.header-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-logo {
  font-weight: 700;
  font-size: 20px;
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-link {
  font-size: 18px;
  color: #21243d;
}

.nav-link--active {
  color: #ff6464;
}



.avatar {
  padding: 160px 0px 50px 0px;
}

.avatar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.avatar-text {
  max-width: 500px;
  font-family: "Heebo", sans-serif;
}

.avatar-title {
  font-size: 44px;
  line-height: 1.2;
  color: #21243D;
  margin: 0 0 20px;
}

.avatar-description {
  font-size: 16px;
  padding-bottom: 20px;
  color: #21243D;
  text-align: left;
  line-height: 1.6;
  margin: 20px 0;
  max-width: 500px;
}

.avatar-button {
  border-radius: 2px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ff6464;
  color: #fff;
  font-size: 20px;
}

.avatar-avatar-wrapper {
  flex-shrink: 0;
  filter: drop-shadow(-5px 13px 0px #EDF7FA);
}

.avatar-avatar {
  width: 240px;
  height: 240px;
  border-radius: 16px;
  object-fit: cover;
}



.section {
  padding: 32px 0;
}

.section--light {
  padding: 32px 0;
  background-color: #edf7fa;
}

.section-title {
  font-size: 22px;
  margin: 0 0 24px;
}

.section-title--page {
  font-size: 34px;
  margin-bottom: 32px;
}



.posts-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.post-card {
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

.post-title {
  margin: 0 0 12px;
  font-size: 20px;
}

.post-meta {
  margin: 0 0 16px;
  font-size: 14px;
  color: #21243D;
}

.post-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}



.works-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;
}

.works-list--page {
  margin-top: 8px;
}

.work-card {
  display: grid;
  grid-template-columns: 246px 1fr;
  gap: 18px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}

.work-card-image {
  border-radius: 6px;
}

.work-card-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}

.work-card-meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 14px;
}

.work-card-year {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #FF7C7C;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.work-card-year-darkbage {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #142850;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.work-card-category {
  font-size: 16px;
  color: #8695a4;
}

.work-card-text {
  font-size: 16px;
  margin: 0;
  line-height: 1.6;
  margin: 20px 0;
  max-width: 500px;
}



.work-details-title {
  font-size: 34px;
  margin: 5% 0 12px;
}

.work-details-meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.work-details-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
  max-width: 500px;
}

.work-details-image {
  margin: 16px 0 32px;
  border-radius: 6px;
}

.work-details-heading1 {
  font-size: 30px;
  margin-bottom: 8px;
}

.work-details-heading2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}



.page-footer {
  padding: 40px 0 24px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-socials {
  display: flex;
  gap: 24px;
}

.footer-socials img {
  width: 30px;
  height: 30px;
}

.footer-copy {
  font-size: 14px;
  color: #8695a4;
}



.link {
  color: #ff6464;
}



@media (max-width: 768px) {
  .header-inner {
    justify-content: center;
  }

  .hero-inner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .posts-grid {
    grid-template-columns: 1fr;
  }

  .work-card {
    grid-template-columns: 1fr;
  }

  .hero-avatar {
    width: 200px;
    height: 200px;
  }
}